$x-padding: 20px;
$left-width: 310px;
$blue: #0298f4;
$light-blue: #64B0FA;
$light-gray: #CECECE;
$lighter-gray: #F5F5F5;
$main-right-height: calc(100% - 41px);
$account-setting-labels-width: 550px;

.common-loading {
  width: 16px;
  height: 16px;
  background: url("/img/loading-dark.png") no-repeat center center;
  background-size: contain;
  animation: common-loading 1s linear infinite;
  @keyframes common-loading {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.big-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:after {
    content: '';
    width: 64px;
    height: 64px;
    background: url("/img/big-loading.png") no-repeat center center;
    background-size: contain;
    animation: common-loading 1s linear infinite;
    @keyframes big-loading {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.music-play {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left-color: white;
    margin-left: 7px;
    margin-top: 3px;
  }
}