@import "../common";

#edit-account {
  position: relative;
  width: 100%;
  height: $main-right-height;

  .body {
    width: $account-setting-labels-width;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;

    form {
      font-size: 13px;
      color: #777777;

      .form-line {
        .input {
          display: flex;
          align-items: center;
        }

        input[type=radio] {
          width: fit-content;
        }

        .sex-label {
          display: inline-block;
          margin-right: 5px;
        }

        .textarea {
          display: flex;

          textarea {
            width: 250px;
            resize: none;
            margin-right: 5px;
          }
        }
      }

      .warn {
        color: red;
        margin-left: 5px;
        padding: 5px 0;
      }
    }
  }
}