@import "../common";

#NetMusicList {
  padding: 20px;
  box-sizing: border-box;
  height: $main-right-height;
  overflow: auto;

  .breadcrumb {
    display: flex;
    align-items: center;
    font-size: 13px;

    .item {
      span {
        color: $light-black;
        cursor: pointer;

        &:hover {
          color: $black;
        }
      }

      label {
        margin: 0 5px;
      }
    }

    label {
      color: black;
      cursor: default;
    }

  }

  .top {
    display: grid;
    grid-template-columns: 250px auto auto;
    grid-gap: 20px;
    margin-top: 20px;

    .left {
      position: relative;

      img {
        width: 100%;
      }

      .bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        padding: 10px 0;
        font-size: 14px;
        color: white;
        display: flex;
        align-items: center;

        img {
          width: 16px;
          height: 16px;
          margin: 0 10px;
        }
      }
    }

    .middle {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      button {
        border-radius: 3px;
      }

      .text {
        h2 {
          font-size: 16px;
          color: black;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        p {
          font-size: 14px;
          color: $light-black;

          button {
            margin: 0 5px;
            border: 1px solid #dddddd;
            color: $light-black;
            background-color: white;
            padding: 5px;

            &:hover {
              color: $blue;
              border-color: $blue;
            }
          }
        }
      }

      .button-group {
        display: flex;
        align-items: center;

        .play {
          background-color: $blue;
          color: white;
          padding: 5px 10px;

          &:hover {
            background-color: $dark-blue;
          }
        }

        .collect, .share {
          border: 1px solid #dddddd;
          color: $light-black;
          background-color: white;
          padding: 5px 10px;
          margin-left: 5px;

          &:hover {
            color: $blue;
            border-color: $light-blue;
          }
        }
      }
    }

    .right {
      .higher {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .text {
          font-size: 40px;
          font-weight: bold;
          color: red;
          margin-right: 5px;
        }

        .opt {
          span {
            font-size: 13px;
            color: $light-black;
            cursor: default;
          }
        }
      }

      .lower {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .text {
          font-size: 13px;
          color: $light-black;
        }
      }
    }
  }

  .tabs {
    .labels {
      display: flex;
      align-items: center;
      border-bottom: 2px solid #dddddd;
      margin: 20px 0;

      label {
        padding: 5px 20px;
        color: $black;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          color: $blue;
        }
      }

      .active-label {
        color: $blue;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 2px;
          background-color: $blue;
        }
      }
    }

    .content {
      .description {
        padding: 0 20px 20px;
        font-size: 14px;
        color: $light-black;
        box-sizing: border-box;
      }

      .similar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 10px;
      }
    }
  }
}